@font-face {
	font-family: 'Powerpuff Girls';
	src: url('../fonts/powerpuffgirls.woff2') format('woff2'),
		url('../fonts/powerpuffgirls.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

$font-display: 'Powerpuff Girls', serif;
$font-text: 'Press Start 2P', cursive;
